header {
    height: 200px;
    background: url(https://wallpaperaccess.com/full/1566382.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

h1 {
    color: teal;
    font-size: 50pt;
    justify-content: center;
}

.body {
    display: flex;
    justify-content: space-around;
}

.break1 {
    border: 5px solid darkblue
}

img {
    width: 25%
}