h1 {
    color: teal;
    font-size: 2em;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.body {
    display: flex;
    justify-content: space-around;
}

.break1 {
    border: 5px solid darkblue
}

img {
    width: 25%
}